<a href="https://colab.research.google.com/github/OctavioQuinter3/Programacion_maestria/blob/main/Practica6_266226.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datos de alumno

Estudiante: Octavio Quintero Flores

Matricula: 266226

Maestría en Inteligencia Artificial y Analítica de Datos

# Instrucciones de la actividad

**Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero.**

  1. Calcula la proporción de supervivencia para cada combinación de 'Sex' y 'Pclass'.
  2. Identifica qué combinación tuvo la tasa de supervivencia más alta.
  3. Identifica qué combinación tuvo la tasa de supervivencia más baja.

**Ejercicio 2: Identificación de familias grandes a bordo.**

  1. Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.
  2. Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.
  3. Calcula el número de pasajeros en familias grandes.
  4. Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.

**Ejercicio 3: Segmentación por grupos de edad.**

  1. Clasifica a los pasajeros en las siguientes categorías de edad(tip puede resultar mas sencillo realizarlo con una función):  menor de edad (< 18) y mayor de edad (>=18)

**Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas**

  1. Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos.
  2. Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.
  3. Verifica que los resultados sean consistentes.

**Ejercicio 5. Creación de intervalos de clase usando NumPy y análisis con Pandas**

  1. Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace, el estudiante deberá investigar la operación de esta función en python.
  2. Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifa.
  3. Calcula el número de pasajeros en cada intervalo utilizando Pandas y la proporción de supervivientes por intervalo.

#Inicio de Ejercicio 1.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importamos la libreria a utilizar de momento sera solamente pandas, mas adelante utilizaremos numpy pero la importaremos cuando se requiera

In [2]:
import pandas as pd

Hago un dataframe con con el archivo con los datos de titanic, a mi me gusta ver el contenido para darme una idea de los datos por lo cual tambien aplico head con 10

In [5]:
df = pd.read_csv('/content/drive/MyDrive/ClassFiles/Titanic-Dataset.csv')
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

##Proporcion por genero y clase

Se nos pide obtener la proporcion de supervivencia por genero y clase en el barco, algo importante es que en la columna Suvived es booleana, solamente tenemos 1 cuando sobrevive y 0 cuando no, por lo cual podemos aprovechar esta propiedad, ejemplo [1,0,0,1,1,0] tenemos 6 elementos, si realizamos la suma de los elementos nos da un valor de 3, por lo que si lo dividimos entre el total de elementos tendremos 0.5, esto mismo aplicaremos en todo el data frame.

In [21]:
genero_clase_proporcion = df.groupby(['Sex', 'Pclass'])['Survived'].mean()
genero_clase_proporcion.head(10)

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

##Combinacion de genero y clase con proporcion de supervivencia mas alta

Crearemos dos variables una para el genero y otra para la clase y usaremos .idxmax para obtener los valores correspondientes, podemos ver estas variables como las etiquetas devueltas, en verdad la forma en que extrae las etiquetas devueltas es por la proporcion, esto significa que toma el valor mas alto que es 0.96 y este valor cuenta con la etiqueta female para el genero y el 1 para la clase.

In [19]:
genero_max, clase_max = genero_clase_proporcion.idxmax()
print("La combinacion que tuvo la tasa mas alta de supervivencia fue: ","Genero:",genero_max,"Clase:",clase_max)

La combinacion que tuvo la tasa mas alta de supervivencia fue:  Genero: female Clase: 1

##Combinacion de genero y clase con proporcion de supervivencia mas baja

Aplicamos la teoria anterior pero ahora con idxmin, para obtener lo mas bajo de proporcion.

In [20]:
genero_min, clase_min = genero_clase_proporcion.idxmin()
print("La combinacion que tuvo la tasa mas baja de supervivencia fue: ","Genero:",genero_min,"Clase:",clase_min)

La combinacion que tuvo la tasa mas baja de supervivencia fue:  Genero: male Clase: 3

#Inicio de Ejercicio 2

##Nueva columna FamilySize

Crearemos una nueva columna con la suma de SibSp y Parch

In [22]:
df['FamilySize'] = df['SibSp'] + df['Parch']
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1

##Tamaño de familia mayor que 3

Seleccionaremos la columna FamilySize y compararemos donde es mayor a **3**

In [23]:
family_size_mayor = df[df['FamilySize'] > 3]
family_size_mayor.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,6
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,5
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,4
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,6
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,5
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S,5
59,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9000,NaN,S,7
63,64,0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S,5
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.0,4,2,3101281,7.9250,NaN,S,6

##Cantidad de personas con familia mayor a 3

Realizamos conteo con len

In [26]:
cantidad_family_size_mayor = len(family_size_mayor)
print(cantidad_family_size_mayor)

62

##Proporcion de supervivencia con familia mayor a 3

usamos el dataframe que creamos donde son mayor a 3 en family size y aplicamos promedio a Survived para obtener proporcion de supervivencia.

In [28]:
proporcion_supervivencia_family_size_mayor = family_size_mayor['Survived'].mean()
print(proporcion_supervivencia_family_size_mayor)

0.16129032258064516

#Inicio de ejercicio 3

##Creacion de funcion
Use el tip de hacer una funcion para clasificar si es menor de edad o mayor, ademas de eso me di cuenta que hay valores en los cuales no se sabe la edad y tienen valor NaN, por lo cual podemos usar de pandas.isnan para categorizar como sin informacion y ayudarnos a categorizar.

In [37]:
def clasificar_edad(edad):
    if pd.isna(edad) :
      return 'Sin informacion'
    elif edad < 18:
        return 'Menor de edad'
    else:
        return 'Mayor de edad'

##Uso de funcion

Aplicamos la funcion para tener esta categorizacion de menor, mayor.

Yo le puse Edad a la variable, al hacer retrospectiva puede ser que lo mejor hubiera sido poner rango_edad o algo mas descriptivo porque puede confundirse con el Age.

In [39]:
df['Edad'] = df['Age'].apply(clasificar_edad)
df[['Edad','Age']].head(100)

               Edad   Age
0     Mayor de edad  22.0
1     Mayor de edad  38.0
2     Mayor de edad  26.0
3     Mayor de edad  35.0
4     Mayor de edad  35.0
..              ...   ...
95  Sin informacion   NaN
96    Mayor de edad  71.0
97    Mayor de edad  23.0
98    Mayor de edad  34.0
99    Mayor de edad  34.0

[100 rows x 2 columns]

#Inicio de Ejercicio 4

##Importar numpy

Como utilizaremos la libreria numpy la importaremos.

In [40]:
import numpy as np

##Comparacion pandas / numpy

El objetivo es comparar el uso de estas dos librerias, podemos ver que en numpy tuve que utilizar nanmean, ya que como mencione antes se encuentran valores nan, en numpy se tiene que hacer uso de la funcion nanmean para el tratamiento.

En cambio con pandas este ya puede tratar datos nan.

In [43]:
numpy_age = np.nanmean(df['Age'])
numpy_fare = np.nanmean(df['Fare'])
print("El promedio de la columna Age es: ",numpy_age)
print("El promedio de la columna Fare es: ",numpy_fare)

El promedio de la columna Age es:  29.69911764705882
El promedio de la columna Fare es:  32.204207968574636

In [44]:
pandas_age = df['Age'].mean()
pandas_fare = df['Fare'].mean()
print("El promedio de la columna Age es: ",pandas_age)
print("El promedio de la columna Fare es: ",pandas_fare)

El promedio de la columna Age es:  29.69911764705882
El promedio de la columna Fare es:  32.204207968574636

#Inicio de Ejercicio 5

##Investigacion de linspace

Linspace es para crear limites equidistantes, esto nos genera n valores equidistantes entre un inicio y un fin.

Donde
``` python
linspace(inicio,fin,n)
```

##Creacion de minimo, maximo para fare

Tendremos el valor minimo o inicio y el valor maximo o fin para poder realizar nuestros limites.

In [45]:
min_fare = df['Fare'].min()
max_fare = df['Fare'].max()
print(min_fare, max_fare)

0.0 512.3292

##Uso de linspace

Ya obtuvimos y creamos nuestras variables para inicio, fin que son min_fare y max_fare, n sera 6 para crear 5 intervalos equidistantes, imprimire los intervalos y podemos observar los limites por intervalo.

In [46]:
intervalos = np.linspace(min_fare, max_fare, 6)
print(intervalos)

[  0.      102.46584 204.93168 307.39752 409.86336 512.3292 ]

##Creacion de columna Intervalo_Fare

Usaremos pd.cut para asignar a cada uno el rango en el que cae utilizando su variable fare, yo hice los 5 labels para reconocerlo mas rapidamente.

In [53]:
df['Intervalo_Fare'] = pd.cut(df['Fare'], bins=intervalos, labels=['muy bajo', 'bajo', 'medio', 'altop','muy alto'])
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,Edad,Intervalo_Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,Mayor de edad,muy bajo
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,Mayor de edad,muy bajo
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,Mayor de edad,muy bajo
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,Mayor de edad,muy bajo
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,Mayor de edad,muy bajo
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,Sin informacion,muy bajo
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,Mayor de edad,muy bajo
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4,Menor de edad,muy bajo
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,2,Mayor de edad,muy bajo
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1,Menor de edad,muy bajo

##Conteo por intervalo

Contaremos las cantidades por intervalos haciendo uso de valo_counts.

In [51]:
conteo_intervalo = df['Intervalo_Fare'].value_counts()
print(conteo_intervalo)

Intervalo_Fare
muy bajo    823
bajo         33
medio        17
muy alto      3
altop         0
Name: count, dtype: int64

##Proporcion de supervivencia por intervalo

Aqui podemos ver su proporcion de supervivencia por intervalos equidistantes.

In [52]:
proporcion_supervivencia_intervalo = df.groupby('Intervalo_Fare')['Survived'].mean()
print(proporcion_supervivencia_intervalo)

Intervalo_Fare
muy bajo    0.366950
bajo        0.757576
medio       0.647059
altop            NaN
muy alto    1.000000
Name: Survived, dtype: float64

/tmp/ipython-input-1257566056.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  proporcion_supervivencia_intervalo = df.groupby('Intervalo_Fare')['Survived'].mean()